.location {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border:2px solid black;
  border-radius: 20px;
  
}

.location .leaflet-container {
  height: 350px;   /* same as your MapContainer height */
  width: 100%;
  z-index: 0; 
  border-radius: 20px;      /* ensure it stays below navbar */
}

.school{
    width:50px;
}