.hero{
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.3)), url('../../assets/supersense.webp') no-repeat center center/cover;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-text{
    text-align:center;
    max-width:1000px;
}

.hero-text h1{
    font-size:72px;
    margin-bottom:10px;
    font-weight:800;
}

.hero-text h2{
    font-size:38px;
    margin-bottom:5px;
    line-height:1.6;
    font-weight: 500;
}

.arrow{
    height:30px;
    width:30px;
}

/* Typing effect for <p> */
.typing {
  font-size:38px;
  margin-bottom:5px;
  font-weight:500;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid orange; /* cursor */
  width: 11ch; /* number of characters */
  animation: typing 2s steps(10) forwards, blink 0.5s step-end infinite;
  margin: 0 auto; /* centers horizontally */
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 10ch; }
}

/* Blinking cursor */
@keyframes blink {
  50% { border-color: transparent; }
}

/*--------media query ----------*/
@media(max-width: 850px){
    .hero-text h1{
        font-size:40px;
    }

     .hero-text h2{
        font-size:30px;
    }
}

@media(max-width: 650px){
    .hero-text h1{
        font-size:30px;
        max-width: 400px;
        margin:auto;
    }

     .hero-text h2{
        font-size:20px;
        max-width: 400px;
        margin:auto;
    }

    .typing{
        font-size: 20px;
        margin: 10px auto 10px;
        width: 10ch; /* same number of characters */
    }
}
