.about{
    margin: 100px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

.about-left{
    flex-basis: 45%;
    position:relative;
}

.about-right{
    flex-basis: 55%;
}

.about_img{
    width:100%;
    border-radius: 10px;
    cursor: pointer;
}

.play_icon{
    width:60px;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
    position:absolute;
    cursor: pointer;
}

.about-right h3{
    font-weight: 600;
    font-size: 16px;
    color: blue;
}

.about-right h2{
    font-weight: 700;
    font-size: 36px;
    margin: 20px 0;
    color: #333;
    max-width: 500px;
}

.about-right p{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}


/*--------media query---------*/

@media(max-width: 800px){
    .about{
        flex-direction: column;
    }

    .about-left{
        flex-basis: 100%;
        margin:20px;
        order:2;
    }

    .about-right{
        flex-basis: 100%;
    }
}