.about{
    margin: 100px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

.about-left{
    flex-basis: 45%;
    position:relative;
}

.about-right{
    flex-basis: 55%;
}

.about_img{
    width:100%;
    border-radius: 10px;
}

.play_icon{
    width:60px;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
    position:absolute;
}

.about-right h3{
    font-weight: 600;
    font-size: 16px;
    color: blue;
}

.about-right h2{
    font-weight: 700;
    font-size: 36px;
    margin: 20px 0;
    color: #333;
    max-width: 500px;
}

.about-right p{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}