nav{
    width:100%;
    /*background-color:gold;*/
    color:white;
    padding: 4px 0;
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 10;

}



.logo{
    width: 100px;
    height: auto;
    border-radius:100%;
    border: 1px solid black;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin: 5px 20px;
    font-size:16px;
}

.dark-nav{
    background: rgb(6, 103, 164);
    transition: 0.5s;
    }

.menu-icon{
    display:none;
}

/* --------------media query------------------*/

@media(max-width: 1000px){
    .logo{
        width: 140px;
    }

    nav ul li{
        margin: 10px 15px;
    }
}


@media(max-width: 1000px){
    nav{
        padding: 15px 0;
    }

    nav ul{
        position:fixed;
        top:0;
        right:0;
        bottom: 0;
        background:blueviolet;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin:25px 40px;
    }


    .menu-icon{
        display:block;
        width:50px;
        cursor:pointer;
    }

    .hide-menu{
        right:-200px;
    }

    .logo{
    width: 70px;
    height: auto;
    border-radius:100%;
}
}