.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position:relative;

}

.next-btn, .back-btn{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    padding: 15px;
    width:100px;
    border-radius:50%;
    cursor:pointer;

}

.back-btn{
    left:0;
    right:auto;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 200%;
    overflow-x:hidden;
    transition: 0.5s;
}

.slider ul li{
    width: 50%;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

.slide{
    box-shadow: 0 0 20px rgba(31, 30, 30, 0.05);
    padding:40px;
    border-radius: 10px;
    color:rgb(7, 93, 93);
    line-height: 1.4;
}

.slide img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-right: 10px;
    border:4px solid #007B8A;
}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3{
    font-size: 24px;
    margin:0;
    font-weight: 600;
}

.user-info p{
    margin:0;
    font-size: 14px;
    color: gray;
}


/*---------media query ----------------*/

@media(max-width: 800px){
    .testimonials{
        padding: 0 40px;
    }

    .next-btn, .back-btn{
        padding: 10px;
        width: 50px;

    }

    .testimonials ul li{
        padding:10px;

    }

    .slide{
        padding: 10px;
    }

    .slide img{
        width: 50px;
        border: 3px green;
    }



}

@media(max-width: 945px){
    .user-info h3{
        font-size: 16px;
    }

}

@media(max-width: 600px){
    .user-info{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }


    .slider p{
        font-size: 12px;
    }
}