.latest-events {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-container{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.event-card {
  width: 300px;
  background: #fff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 15px;
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.event-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

.view-all-btn{
    background: red;
    width:180px;
    padding:10% 3%;
    margin-top:2rem;
    color:white;
    border:none;
    font-size: 16px;

}

/*------------media query----------------*/

@media(max-width:600px){
    .view-all-btn{
    width:120px;
    padding:10% 2%;
    margin-top:2rem;
    font-size: 12px;

}

}
