@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
   font-family: "Outfit", sans-serif;
}

body{
  background: #f0f0f0;
}

a{
  text-decoration:none;
  color:inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left:10%;
  padding-right:10%;
}

.about-container{
  margin-left: 10%;
  margin-right:10%;
  position:static;

}

.background{
    background:rgb(6, 103, 164);
    width:100%;
    height:50%;
    position: absolute;
    z-index: -1;
    margin-top: -360px;
}


.btn{
  padding:14px 25px;
  background-color:white;
  color:blue;
  border:none;
  border-radius:20px;
  font-size:16px;
  border:none;
  outline:none;
  font-weight:600;
  cursor:pointer;
  display:inline-flex;
  align-items:center;
  justify-content: center;
}

.btn.dark-btn{
  background: white;
  color:black;
}


/*----media query--------*/

@media(max-width: 1200px)
{
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn{
    padding: 14px 22px;
  }
}

@media(max-width:1000px){
  .background{
    height:35%;
    margin-top: -250px;
   
}

}

@media(max-width: 600px){
  .background{
    height:25%;
    margin-top: -160px;
}

}